.navbar-nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    .margin-section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

