@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;  /*<weight>: Use a value from 100 to 900*/
}

/*GENERAL*/
.general {
    padding: 2rem 3rem ;
}

/*MENU NAVEGADOR*/
.navbar-nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

.margin-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*HERO SECTION*/
.hero-section {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color:#95a5bb;
    padding: 2rem;
}


/*SERVICIOS*/

.servicio {
    margin-bottom: 20px;
}

.texto {
    padding: 10px;
}

.centrar {
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

/*FONDO INICIO*/
.fondo-inicio {
    background-image: url(../imagenes/index.fondo.jpg);
    background-size: cover;
    background-position: center;
}



